@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}

#map-container {
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#map {
  height: 100%;
}

#header {
  background: white;
  color: #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  max-width: 450px;
  left: 50%;
  padding: 1em;
  position: relative;
  text-align: center;
  top: 1em;
  transform: translate(-50%);
  width: 90%;
  z-index: 200;
}

#header h1 {
  color: #c33d2b;
  font-family: 'Montserrat';
  margin-bottom: .15em;
  text-transform: uppercase;
}

#page {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  display: none;
  margin: 2em auto;
  max-width: 550px;
  padding: 1em;
  position: relative;
  width: 90%;
  z-index: 200;
}

#page h1 {
  color: #c33d2b;
  margin: .25em 0;
}

#page p {
  margin-bottom: .5em;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 10px;
}
