@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato);

html, body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, p {
  margin: 0;
}

#map-container {
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#map {
  height: 100%;
}

#header {
  background: white;
  color: #000;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  box-sizing: border-box;
  max-width: 450px;
  left: 50%;
  padding: 1em;
  position: relative;
  text-align: center;
  top: 1em;
  transform: translate(-50%);
  width: 90%;
  z-index: 200;
}

#header h1 {
  color: #c33d2b;
  font-family: 'Montserrat';
  margin-bottom: .15em;
  text-transform: uppercase;
}

#page {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
  box-sizing: border-box;
  display: none;
  margin: 2em auto;
  max-width: 550px;
  padding: 1em;
  position: relative;
  width: 95%;
  z-index: 200;
}

#page h1 {
  color: #c33d2b;
  margin: .25em 0 .5em;
}

#page p {
  margin-bottom: .5em;
}

.id {
  background-color: #c33d2b;
  border-radius: 20px;
  color: white;
  float: left;
  margin-right: 9px;
  padding: 3px 9px 4px;
  transform: translateY(3px);
}

.close {
  cursor: pointer;
  position: absolute;
  top: 3px;
  right: 10px;
}

.photo {
  margin-top: 1em;
}

.thumbnail {
  border: 5px solid rgba(0, 0, 0, .05);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .15);
  box-sizing: border-box;
  cursor: zoom-in;
  max-width: 100%;
}

.caption {
  color: rgba(0, 0, 0, .75);
  font-size: .9em;
  margin-top: .25em;
  font-style: italic;
}

#overlay {
  display: none;
  background: rgba(0, 0, 0, .75);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

#lightbox {
  background: white;
  cursor: zoom-out;
  position: absolute;
}

#lightbox img {
  background-size: 100% 100%;
  box-sizing: border-box;
  border: 10px solid white;
  height: 100%;
  width: 100%;
}

@media (min-width: 500px) {
  #header br {
    display: none;
  }
}

@media (min-width: 768px) {
  #header {

  }
}
