.TripLink {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
  color: #c33d2b;
  font-size: 1rem;
  padding: .5rem 0;
  width: 200px;
  text-align: center;
  transform: translate(-50%, 10px);
}
