.Pin {
  background-color: #c33d2b;
  border-radius: 25px;
  color: white;
  font-size: 0.8rem;
  font-family: 'Montserrat';
  height: 20px;
  padding-top: 4px;
  position: relative;
  text-align: center;
  transform: translate(-12px, -36px);
  width: 24px;

  &.clickable {
    cursor: pointer;
    transition: all 100ms;

    &:hover {
      transform: translate(-12px, -43px) scale(1.25);
      z-index: 500;
    }
  }

  &::after {
    border: 10px solid transparent;
    border-top: 17px solid #c33d2b;
    content: '';
    bottom: -21px;
    left: 2px;
    position: absolute;
  }
}


